@using ISZR.Web.ViewModels;

@model DashboardViewModel;

@{
    ViewData["Title"] = "Felhasználói profil";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-xl-4">
            <div class="card card-widget widget-user">
                <div class="widget-user-header bg-info">
                    <h3 class="widget-user-username">@Model?.User?.DisplayName</h3>
                    <h5 class="widget-user-desc">@Model?.User?.Position?.Name</h5>
                </div>
                <div class="widget-user-image">
                    <img class="img-circle elevation-2" src="~/img/avatar.png" alt="Profilkép">
                </div>
                <div class="card-body">
                    <strong><i class="icon fas fa-medal mr-2"></i>Rendfokozat</strong>
                    <p class="text-muted">@Model?.User?.Rank</p>
                    <hr />
                    <strong><i class="icon fas fa-users mr-2"></i>Osztály</strong>
                    <p class="text-muted">@Model?.User?.Class?.Name</p>
                    <hr />
                    <strong><i class="icon fas fa-map-marker-alt mr-2"></i>Szolgálati hely</strong>
                    <p class="text-muted">@Model?.User?.Location</p>
                    @if (!string.IsNullOrEmpty(Model?.User?.Email))
                    {
                        <hr />
                        <strong><i class="icon fas fa-envelope mr-2"></i>E-mail elérhetőség</strong>
                        <p class="text-muted">@Model?.User?.Email</p>
                    }
                    @if (!string.IsNullOrEmpty(Model?.User?.Phone))
                    {
                        <hr />
                        <strong><i class="icon fas fa-phone mr-2"></i>NTG elérhetőség</strong>
                        <p class="text-muted">@Model?.User?.Phone</p>
                    }
                    <hr />
                    <a class="nav-link btn btn-info" asp-controller="Home" asp-action="Settings">
                        <i class="nav-icon fas fa-id-card mr-2"></i>Elérhetőség módosítása
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-8">
            <div class="row">
                <div class="col-12">
                    @if (User.IsInRole("SKFB-ISZR-Ugyintezo"))
                    {
                        // Százalékok kiszámítása
                        int? donePercent = (int)Math.Round((double)(100 * Model.DoneRequests) / Model.AllRequests);
                        int? inProgressPercent = (int)Math.Round((double)(100 * Model.InProgressRequests) / Model.AllRequests);
                        int? deniedPercent = (int)Math.Round((double)(100 * Model.DeniedRequests) / Model.AllRequests);

                        // Kártya megjelenítése
                        <div class="card card-info">
                            <div class="card-header">
                                <h5 class="card-title">Általad létrehozott igénylések <abbr title="Általad létrehozott igénylések összesítve" class="text-decoration-none text-white ml-1"><i class="fas fa-question-circle"></i></abbr></h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="progress-group">
                                            Jováhagyott igénylések
                                            <span class="float-right"><b>@Model?.DoneRequests darab</b> / @Model?.AllRequests darab</span>
                                            <div class="progress progress-sm">
                                                <div class="progress-bar bg-success" style="width: @donePercent%"></div>
                                            </div>
                                        </div>
                                        <div class="progress-group">
                                            Folyamatban lévő igénylések
                                            <span class="float-right"><b>@Model?.InProgressRequests darab</b> / @Model?.AllRequests darab</span>
                                            <div class="progress progress-sm">
                                                <div class="progress-bar bg-warning" style="width: @inProgressPercent%"></div>
                                            </div>
                                        </div>
                                        <div class="progress-group">
                                            Elutasított igénylések
                                            <span class="float-right"><b>@Model?.DeniedRequests darab</b> / @Model?.AllRequests darab</span>
                                            <div class="progress progress-sm">
                                                <div class="progress-bar bg-danger" style="width: @deniedPercent%"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xl-6">
                    <div class="card card-info">
                        <div class="card-header">
                            <h5 class="card-title">Parkolási engedélyeid <abbr title="Amennyiben a jármű már nem tartozik hozzád, írj e-mail a helyi informatikai csoportnak annak archiválásáról!" class="text-decoration-none text-white ml-1"><i class="fas fa-question-circle"></i></abbr></h5>
                        </div>
                        <div class="card-body p-0">
                            @if (Model?.Parkings?.Count > 0)
                            {
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Rendszám</th>
                                            <th>Hozzá tartozó jármű</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var vehicle in Model?.Parkings)
                                        {
                                            <tr>
                                                <td><h4><span class="badge bg-info">@vehicle.LicensePlate</span></h4></td>
                                                <td>@vehicle.Brand @vehicle.Modell</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <div class="text-center text-muted font-italic mt-4 mb-4">
                                    Nem rendelkezel parkolási engedéllyel.
                                </div>
                            }

                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-6">
                    <div class="card card-info">
                        <div class="card-header">
                            <h5 class="card-title">PIN kódjaid külső telefonáláshoz <abbr title="Ezekkel a PIN kódokkal tudsz külső hívást indítani irodai telefonokon!" class="text-decoration-none text-white ml-1"><i class="fas fa-question-circle"></i></abbr></h5>
                        </div>
                        @if (Model?.Phones?.Count > 0)
                        {
                            <div class="card-body p-0">
                                <table class="table">
                                    <tbody>
                                        @foreach (var code in Model?.Phones)
                                        {
                                            <tr>
                                                <td><h4><span class="badge bg-info">@code.PhoneCode</span></h4></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <h5 class="text-info"><i class="fas fa-info mr-2"></i>Emlékeztető a használatáról</h5>
                                <div class="mb-2">0-ás gomb lenyomása után a fenti azonosítók közül kell egyet beírni. Ezután ki kell választani a típust, ami lehet <span class="text-info font-weight-bold">50 (hivatali)</span> vagy <span class="text-info font-weight-bold">51 (magán)</span>. Ezek után már csak a kívánt telefonszámot kell beírnunk.</div>
                                <div class="blockquote-footer">Amennyiben magán telefonálást hajtunk végre, azt az intézet pénztárában minden hónap elején be kell fizetni.</div>
                            </div>
                        } else
                        {
                            <div class="card-body p-0">
                                <div class="text-center text-muted font-italic mt-4 mb-4">
                                    Nem rendelkezel külső telefonáláshoz használható PIN kóddal.
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>