@{
    ViewData["Title"] = "Gyakran ismételt kérdések";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12" id="accordion">
            <div class="row">
                <div class="col-12">
                    <h4 class="m-2">Általános kérdések</h4>
                </div>
            </div>
            <div class="card card-info card-outline">
                <a class="d-block w-100 bg-info" data-toggle="collapse" href="#collapseZero">
                    <div class="card-header bg-info">
                        <h4 class="card-title w-100">
                            Hogyan lehet lementeni a szolgálati jegyeket?
                        </h4>
                    </div>
                </a>
                <div id="collapseZero" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Ha sikeresen elkészült az igénylés, akkor <b>alul az igénylés oldalán</b> található egy <a class="btn btn-default"><i class="fas fa-print"></i> Igénylés nyomtatása</a> gomb.
                        <hr />
                        A szolgálati jegyet mindenképpen <b>PDF-ként mentsük el</b>, és ne nyomtassuk ki a nyomtatón mert nyomtatott formában nem fogadjuk el!
                    </div>
                </div>
            </div>
            <div class="card card-info card-outline">
                <a class="d-block w-100 bg-info" data-toggle="collapse" href="#collapseFour">
                    <div class="card-header bg-info">
                        <h4 class="card-title w-100">
                            Az adott személy honnan tudhatja meg, hogy jogosultságot kapott?
                        </h4>
                    </div>
                </a>
                <div id="collapseFour" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Az ISZR-ben lehetőség nyílik rá, hogy <b>sima felhasználóként a részére elkészült igényléseket és azok állapotát láthassa</b> azonban másokét nem.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h4 class="m-2">Robotzsaruzással kapcsolatos kérdések</h4>
                </div>
            </div>
            <div class="card card-info card-outline">
                <a class="d-block w-100 bg-info" data-toggle="collapse" href="#collapseOne">
                    <div class="card-header bg-info">
                        <h4 class="card-title w-100">
                            Hova kell feltölteni az elkészült szolgálati jegyeket?
                        </h4>
                    </div>
                </a>
                <div id="collapseOne" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Az elkészült elektronikus szolgálati jegyeket az oszályok <b>saját maguk által generált főszámokra tőltik</b>.
                    </div>
                </div>
            </div>
            <div class="card card-info card-outline">
                <a class="d-block w-100 bg-info" data-toggle="collapse" href="#collapseTwo">
                    <div class="card-header bg-info">
                        <h4 class="card-title w-100">
                            Kivel kell aláíratni az elkészült szolgálati jegyet?
                        </h4>
                    </div>
                </a>
                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        A dokumentumban <b>előre beállított személyeknek</b> kell csak aláírnia.<br />
                        Minden esetben az igénylés létrehozójának, azaz az <b>ügyintézőnek kell aláírnia</b> úgy, hogy <b>nem készít alszámot vele!</b><br />
                        Ezután az ügyintéző aláírásával elkészült dokumentumot <b>vezetői jóváhagyásra</b> kell küldeni a <b>dokumentumban szereplő engedélyező</b> számára.<br />
                    </div>
                </div>
            </div>
            <div class="card card-info card-outline">
                <a class="d-block w-100 bg-info" data-toggle="collapse" href="#collapseThree">
                    <div class="card-header bg-info">
                        <h4 class="card-title w-100">
                            Szükséges e expediálni a vezetői jováhagyásra felajánlott szolgálati jegyeket?
                        </h4>
                    </div>
                </a>
                <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <h4>Parkolási engedély illetve kamerafelvétel igénylése esetén</h4>
                        <b>E-mail-ben</b> kell expediálni az <a class="text-info font-weight-bold ml-1 mr-1" href="mailto: skfb-info-informatika@bv.gov.hu">skfb-info-informatika@bv.gov.hu</a> részére.
                        <h4 class="mt-4">Minden más igénylés esetén</h4>
                        <b>NOVA SZEÜSZ-ként</b> kell expediálni a <span class="text-info font-weight-bold ml-1 mr-1">
                            BV Gazdasági Ellátó Intézet
                        </span> részére.
                        <hr />
                        Amennyiben nem érkezik meg az aláírt szolgálati jegy a <abbr title="pl. windows jogosultság igénylés csak e-mailben érkezik meg" class="text-info font-weight-bold ml-1 mr-1">megfelelő helyen</abbr>, vagy egyáltalán nem érkezik meg, nem tudjuk biztosítani annak végrehajtását!
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h4 class="m-2">A rendszerrel kapcsolatos kérdések</h4>
                </div>
            </div>
            <div class="card card-info card-outline">
                <a class="d-block w-100 bg-info" data-toggle="collapse" href="#collapseEight">
                    <div class="card-header bg-info">
                        <h4 class="card-title w-100">
                            Ki módosíthatja a felhasználók adatait, illetve elérhetőségeit?
                        </h4>
                    </div>
                </a>
                <div id="collapseEight" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Minden felhasználó <b>csak a saját profilját képes</b> módosítani, ez alól csak az <b>ügyintézők a kivételek,</b> akik képesek bárki más adatait, illetve elérhetőségét módosítani.
                    </div>
                </div>
            </div>
            <div class="card card-info card-outline">
                <a class="d-block w-100 bg-info" data-toggle="collapse" href="#collapseSeven">
                    <div class="card-header bg-info">
                        <h4 class="card-title w-100">
                            Hogyan lehet módosítani más felhasználók adatait, illetve elérhetőségeit?
                        </h4>
                    </div>
                </a>
                <div id="collapseSeven" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Ügyintézőként lehetőség nyílik rá, hogy más felhasználók adatait, illetve elérhetőségeit módosítsa.<br />
                        Nincs más teendő csak a <b>bal oldalt megtalálható keresésnél rákeresni</b> az adott felhasználóra, ott megnyitni a felhasználói profilt ahol a felhasználóról több részletes adat is megjelenik. majd módosítani az elérhetőségeit.
                    </div>
                </div>
            </div>
            <div class="card card-info card-outline">
                <a class="d-block w-100 bg-info" data-toggle="collapse" href="#collapseNine">
                    <div class="card-header bg-info">
                        <h4 class="card-title w-100">
                            Nem találom a felhasználót a felhasználók listájában, mi tévő legyek?
                        </h4>
                    </div>
                </a>
                <div id="collapseNine" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Új felhasználó részére amikor jogosultság igénylés történik, a rendszer <b>automatikusan létrehoz</b> számára egy profilt.<br />
                        Amennyiben nem új felhasználóról van szó és nem található a listában, abban az esetben hozz létre egy <a class="text-dark font-weight-bold text-decoration-none ml-1 mr-1" asp-controller="Reports" asp-action="Create"><i class="fas fa-bullhorn mr-2"></i>Hibabejelentést</a> és azt hozzáadjuk a rendszerhez.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-3 text-center text-muted font-italic">
            Amennyiben nem találsz választ a kérdésedre, írj emailt az informatikai csoportnak!
        </div>
    </div>
</div>
