<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div>
                <h1><b>Informatikai osztály</b> igényléseivel kapcsolatos adatok</h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12 col-12">
        <div class="small-box bg-gradient-info">
            <div class="inner">
                <h3>0</h3>
                <p>Igénylések összesen</p>
            </div>
            <div class="icon">
                <i class="fas fa-book"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 col-12">
        <div class="small-box bg-gradient-info">
            <div class="inner">
                <h3>0</h3>
                <p>Lezárt igénylések</p>
            </div>
            <div class="icon">
                <i class="fas fa-file-contract"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 col-12">
        <div class="small-box bg-gradient-success">
            <div class="inner">
                <h3>0</h3>
                <p>Jováhagyott igénylések</p>
            </div>
            <div class="icon">
                <i class="fas fa-user-check"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 col-12">
        <div class="small-box bg-gradient-warning">
            <div class="inner">
                <h3>0</h3>
                <p>Folyamatban lévő igénylések</p>
            </div>
            <div class="icon">
                <i class="fas fa-user-edit"></i>
            </div>
        </div>
    </div>
</div>