<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div>
                <h1>ISZR-rel kapcsolatos információk</h1>
            </div>
        </div>
    </div>
</div>

<div class="timeline">
  <div>
        <i class="fas fa-exclamation-circle bg-danger"></i>
    <div class="timeline-item">
            <span class="time bg-danger">2022.12.21 <i class="fas fa-calendar"></i></span>
            <h3 class="timeline-header bg-danger"><b>FIGYELEM!</b></h3>
      <div class="timeline-body">Jelenleg az intézet nem rendelkezik kiadható PIN kóddal. Amennyiben újra lesz kiadható kód, a menüpont ismét elérhetővé válik!</div>
    </div>
  </div>
  <div>
    <i class="fas fa-clock bg-gray"></i>
  </div>
</div>