<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ISZR - @ViewData["Title"]</title>
    <meta name="description" content="Informatikai Szolgálati jegy Rendszer" />
    <meta name="keywords" content="iszr, permission, permissions, request, jogosultság, igénylés, windows, fonix" />
    <meta name="author" content="Béla Kellner" />

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/img/favicon.ico" type="image/x-icon">
</head>
<body class="layout-fixed layout-navbar-fixed layout-footer-fixed sidebar-mini sidebar-mini-md hold-transition" style="height: auto;">
    <div class="wrapper">
        <!-- Navbar -->
        <partial name="_Navbar" />

        <!-- Sidebar -->
        <partial name="_Sidebar" />

        <!-- Main content -->
        <div class="content-wrapper">
            <div class="content">
                @RenderBody()
            </div>
        </div>

        <!-- Footer -->
        <partial name="_Footer" />
    </div>

    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
