@using System.DirectoryServices.AccountManagement;

<aside class="main-sidebar elevation-4 sidebar-dark-info">
    <!-- ISZR -->
    <a class="brand-link" asp-area="" asp-controller="Home" asp-action="Dashboard">
        <img src="~/img/ISZR.png" alt="ISZR" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">ISZR</span>
    </a>

    <div class="sidebar">
        <!-- Sidebar menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header"><b>Statisztika</b></li>
                <li class="nav-item">
                    <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" && ViewContext.RouteData.Values["Action"]?.ToString() == "Dashboard" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Dashboard">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Irányítópult
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Requests" ? "active" : "")" asp-area="" asp-controller="Requests" asp-action="Index">
                        <i class="nav-icon fas fa-tasks"></i>
                        <p>
                            Igénylések
                            <span class="right badge badge-danger">ÚJ</span>
                        </p>
                    </a>
                </li>
                <li class="nav-header"><b>Informatikával kapcsolatos</b></li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fab fa-windows"></i>
                        <p>
                            Windows jogosultság
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-user nav-icon"></i>
                                <p>Windows jogosultság igénylése egy személy számára</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-users nav-icon"></i>
                                <p>Windows jogosultság igénylése több személy számára</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-dove"></i>
                        <p>
                            Főnix 3 jogosultság
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-user nav-icon"></i>
                                <p>Főnix 3 jogosultság igénylése egy személy számára</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-users nav-icon"></i>
                                <p>Főnix 3 jogosultság igénylése több személy számára</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-envelope"></i>
                        <p>
                            E-mail cím
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-user nav-icon"></i>
                                <p>E-mail cím igénylése egy személy számára</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-users nav-icon"></i>
                                <p>E-mail cím igénylése több személy számára</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-phone-square-alt"></i>
                        <p>
                            Telefonáláshoz PIN kód
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-user nav-icon"></i>
                                <p>PIN kód igénylése egy személy számára</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-users nav-icon"></i>
                                <p>PIN kód igénylése több személy számára</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-header"><b>Biztonságtechnikával kapcsolatos</b></li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-shield-alt"></i>
                        <p>
                            HikCentral jogosultság
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-user nav-icon"></i>
                                <p>HikCentral jogosultság igénylése egy személy számára</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-users nav-icon"></i>
                                <p>HikCentral jogosultság igénylése több személy számára</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-video"></i>
                        <p>
                            Kamerafelvétel
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-history nav-icon"></i>
                                <p>Kamerafelvétel lementése időpontok alapján</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-tags nav-icon"></i>
                                <p>Kamerafelvétel lementése címkék alapján</p>
                                <span class="right badge badge-danger">ÚJ</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-header"><b>Egyebek</b></li>
                <li class="nav-item">
                    <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" && ViewContext.RouteData.Values["Action"]?.ToString() == "FAQ" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="FAQ">
                        <i class="nav-icon fas fa-question-circle"></i>
                        <p>GYIK</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>