@model ISZR.Web.Models.Permission

@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewData["Title"] = "Jogosultság részletei";
}

<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card card-info">
				<div class="card-header">
					<h3 class="card-title">Jogosultsághoz tartozó adatok beállítása</h3>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-12">
							<div class="form-group">
								<label>Jogosultság megnevezése</label>
								<span asp-validation-for="Name" class="text-danger"></span>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="fas fa-key"></i></span>
									</div>
									<input type="text" value="@Model?.Name" class="form-control" disabled>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="form-group">
								<label>Jogosultság leírása</label>
								<span asp-validation-for="Description" class="text-danger"></span>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="fas fa-pencil-alt"></i></span>
									</div>
									<input type="text" value="@Model?.Description" class="form-control" disabled>
								</div>
							</div>
						</div>
					</div>
					@if (Model?.Type == "Windows")
					{
						<div class="row">
							<div class="col-12">
								<div class="form-group">
									<label>Active Directory jogosultságok megnevezése</label>
									<span asp-validation-for="ActiveDirectoryPermissions" class="text-danger"></span>
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="fas fa-database"></i></span>
										</div>
										<input type="text" value="@Model?.ActiveDirectoryPermissions" class="form-control" disabled>
									</div>
								</div>
							</div>
						</div>
					}
					<div class="row">
						<div class="col-12 float-right">
							<span class="float-right">
								<a asp-action="Index" class="btn btn-secondary"><i class="icon fas fa-sign-out-alt mr-2"></i>Vissza</a>
								<a asp-action="Edit" asp-route-id="@Model?.PermissionId"><input type="button" value="Jogosultság szerkesztése" class="btn btn-info ml-1" /></a>
							</span>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
