@model ISZR.Web.Models.Phone

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "PIN kód szerkesztése";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card card-warning">
                <div class="card-header">
                    <h3 class="card-title">Külső telefonáláshoz tartozó PIN kód adatainak szerkesztése</h3>
                </div>
                <div class="card-body">
                    <form asp-action="Edit" onsubmit="submitButton.disabled = true; return true;">
                        <div class="row">
                            <div class="col-12">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            </div>
                        </div>
                        <input type="hidden" asp-for="PhoneId" />
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label>PIN kód</label><span class="text-danger font-weight-bold ml-1">*</span>
                                    <span asp-validation-for="PhoneCode" class="text-danger"></span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                                        </div>
                                        <input type="text" asp-for="PhoneCode" class="form-control" placeholder="PIN kód megnevezése" spellcheck="false" required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label>Tulajdonos</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <select asp-for="PhoneUserId" asp-items="ViewBag.PhoneUserId" class="form-control select2bs4">
                                            <option value="">Nincs</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="float-left">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="agreeToTerms" name="agreeToTerms" required />
                                        <label class="custom-control-label" for="agreeToTerms">
                                            Minden kötelező mezőt (<span class="text-danger font-weight-bold">*</span>) kitöltöttem, és a megadott adatok helyesek.
                                        </label>
                                    </div>
                                </div>
                                <div class="float-right">
                                    <a onclick="history.back()" class="btn btn-secondary"><i class="icon fas fa-sign-out-alt mr-2"></i>Vissza</a>
                                    <input id="submitButton" type="submit" value="PIN kód szerkesztése" class="btn btn-warning ml-1" disabled />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
