@model ISZR.Models.Request

@{
	ViewData["Title"] = $"#{Model?.RequestId} számú igénylés részletei";
}

<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="invoice p-3 mb-3">
				<div class="row d-none d-print-block">
					<div class="col-12 d-flex justify-content-center">
						<img src="~/img/cimer.png" alt="Címer" height="100em">
					</div>
					<div class="col-12 font-weight-bold text-center mt-2 mb-2">
						<h4 class="mb-0">BÜNTETÉS-VÉGREHAJTÁS GAZDASÁGI ELLÁTÓ INTÉZETE</h4>
						<h5>I. AGGLOMERÁCIÓ</h5>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<h4>
							<span class="d-print-none"><i class="fas fa-paperclip"></i> Digitális Szolgálati jegy</span>
							<small class="float-right">ISZR <span class="text-info font-weight-bold">#@Model?.RequestId</span></small>
						</h4>
					</div>
				</div>
				<div class="row invoice-info mb-2">
					<div class="col-lg-4 col-md-6 invoice-col">
						<strong>Igénylést intéző</strong>
						<address>
							@Model?.RequestAuthor?.DisplayName bv. @Model?.RequestAuthor?.Rank.ToLower()<br>
							@Model?.RequestAuthor?.Class?.Name, @Model?.RequestAuthor?.Position?.Name<br />
							<i class="fas fa-envelope"></i> @Model?.RequestAuthor?.Email<br>
							<i class="fas fa-phone-square-alt"></i> @Model?.RequestAuthor?.Phone
						</address>
					</div>
					<div class="col-lg-4 col-md-6 invoice-col">
						<strong>Kinek a számra</strong>
						<address>
							@Model?.RequestFor?.DisplayName bv. @Model?.RequestFor?.Rank.ToLower()<br>
							@Model?.RequestFor?.Class?.Name, @Model?.RequestFor?.Position?.Name<br />
							<i class="fas fa-envelope"></i> @Model?.RequestFor?.Email<br>
							<i class="fas fa-phone-square-alt"></i> @Model?.RequestFor?.Phone
						</address>
					</div>
					<div class="col-lg-4 col-12 invoice-col d-print-none">
						<b>Igénylés típusa: </b> @Model?.Type<br />
						<b>Létrehozásának ideje:</b> @Model?.CreationDate.ToString("yyyy. MMMM dd. HH:mm")<br>
						@if (Model?.ResolveDate != new DateTime())
						{
							<b>Lezárásának ideje:</b> @Model?.ResolveDate.ToString("yyyy. MMMM dd. HH:mm")

							<br>
						}
						@{
							switch (Model?.Status)
							{
								case "Elutasítva":
									{
										<b>Státusz:</b> <span class="badge badge-danger"><i class="icon fas fa-ban"></i> @Model?.Status</span>
										break;
									}
								case "Végrehajtva":
									{
										<b>Státusz:</b> <span class="badge badge-success"><i class="icon fas fa-check"></i> @Model?.Status</span>
										break;
									}
								default:
									{
										<b>Státusz:</b> <span class="badge badge-warning"><i class="icon fas fa-comment-dots"></i> @Model?.Status</span>
										break;
									}
							}
						}
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<span class="font-weight-bold d-none d-print-block">Tisztelt Parancsnok Úr!</span>
					</div>
					<div class="col-12 mb-3">
						@Html.Raw(@Model?.Description)
					</div>
				</div>
				@{
					if (Model?.WindowsPermissions != "")
					{
						<div class="row">
							<div class="col-12 d-none d-print-block">
								<dl>
									<dt><i class="fab fa-windows"></i> Windows jogosultságok</dt>
									<dd>@Model?.WindowsPermissions</dd>
								</dl>
							</div>
							<div class="col-12 d-print-none">
								<div class="alert alert-info alert-dismissible">
									<h5><i class="icon fab fa-windows"></i> Windows jogosultságok</h5>
									@Model?.WindowsPermissions
								</div>
							</div>
						</div>
					}
				}
				@{
					if (Model?.FonixPermissions != "")
					{
						<div class="row">
							<div class="col-12 d-none d-print-block">
								<dl>
									<dt><i class="fas fa-dove"></i> Főnix 3 jogosultságok</dt>
									<dd>@Model?.FonixPermissions</dd>
								</dl>
							</div>
							<div class="col-12 d-print-none">
								<div class="alert alert-warning alert-dismissible">
									<h5><i class="icon fas fa-dove"></i> Főnix 3 jogosultságok</h5>
									@Model?.FonixPermissions
								</div>
							</div>
						</div>
					}
				}
				<div class="row mt-5 d-none d-print-block">
					<div class="col-12">
						<div class="float-left signature text-center ml-5">
							<p class="mb-5 text-left font-weight-bold">Kérelmező:</p>
							<hr />
							<h5 class="mb-0">@Model?.RequestAuthor?.DisplayName bv. @Model?.RequestAuthor?.Rank.ToLower()</h5>
							@Model?.RequestAuthor?.Position?.Name
						</div>
						<div class="float-right text-center mr-5">
							<p class="mb-5 text-left font-weight-bold">Engedélyezem:</p>
							<hr />
							<h5 class="mb-0">Fülöp István András bv. ezredes</h5>
							Intézetparancsnok
						</div>
					</div>
				</div>
				<div class="row d-print-none">
					<div class="col-12">
						<a asp-action="Index"><input type="button" value="Vissza a listához" class="btn btn-info" /></a>
						<a class="btn btn-default" onclick="window.print()"><i class="fas fa-print"></i> Nyomtatás</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
