@model ISZR.Models.Request

@{
	ViewData["Title"] = "Kamerafelvétel lementése címkék alapján";
}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="card card-default">
				<div class="card-header bg-info">
					<h3 class="card-title">Igénylés menete</h3>
				</div>
				<div class="card-body p-0">
					<form asp-action="RecordsByTags">
						<div class="row">
							<div class="col-12">
								<div asp-validation-summary="ModelOnly" class="text-danger"></div>
							</div>
						</div>
						<div class="bs-stepper linear">
							<div class="bs-stepper-header" role="tablist">
								<div class="step active" data-target="#request-info">
									<button type="button" class="step-trigger" role="tab" aria-controls="request-info" id="request-info-trigger" aria-selected="true">
										<span class="bs-stepper-circle bg-info"><i class="fas fa-camera"></i></span>
										<span class="bs-stepper-label">Felvételel kapcsolatos információk</span>
									</button>
								</div>
								<div class="line"></div>
								<div class="step" data-target="#recordTags">
									<button type="button" class="step-trigger" role="tab" aria-controls="recordTags" id="recordTags-trigger" aria-selected="false" disabled="disabled">
										<span class="bs-stepper-circle bg-info"><i class="fas fa-tags"></i></span>
										<span class="bs-stepper-label">Címkék és azok kamerái</span>
									</button>
								</div>
								<div class="line"></div>
								<div class="step" data-target="#summary">
									<button type="button" class="step-trigger" role="tab" aria-controls="summary" id="summary-trigger" aria-selected="false" disabled="disabled">
										<span class="bs-stepper-circle bg-info"><i class="fas fa-list"></i></span>
										<span class="bs-stepper-label">Összesítés</span>
									</button>
								</div>
							</div>
							<div class="bs-stepper-content">
								<div id="request-info" class="content active dstepper-block" role="tabpanel" aria-labelledby="request-info-trigger">
									<div class="row">
										<div class="col-12">
											<div class="alert alert-info alert-dismissible">
												<h5><i class="icon fas fa-info"></i> Figyelem!</h5>
												Hikcentrálban a felvételeket átlagosan 30 napig tároljuk. Ez alól a bástyafalon elhelyezett kamerák a kivételek, amelyek külterületre néznek. Ilyen kameráknál a felvételt fixen 3 napig tároljuk. (törvény szerint ennyi a maximum)
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<div class="form-group">
												<label>Kamerafelvétel lementésének oka</label>
												<div class="input-group mb-3">
													<div class="input-group-prepend">
														<span class="input-group-text"><i class="far fa-eye"></i></span>
													</div>
													<input id="inputWhy" name="inputWhy" type="text" class="form-control" required/>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<a class="btn btn-info" onclick="stepper.next()">Tovább</a>
										</div>
									</div>
								</div>
								<div id="recordTags" class="content" role="tabpanel" aria-labelledby="recordTags-trigger">
									<div class="row">
										<div class="col-12 col-md-6">
											<div class="form-group">
												<label>Lementeni kívánt címkék megnevezése</label>
												<div class="input-group mb-3">
													<div class="input-group-prepend">
														<span class="input-group-text"><i class="fas fa-tags"></i></span>
													</div>
													<input id="inputTags" name="inputTags" type="text" class="form-control" required/>
												</div>
											</div>
										</div>
										<div class="col-12 col-md-6">
											<div class="alert alert-info alert-dismissible">
												A címkék lehetőleg azonosak legyenek. Így garantálni tudjuk, hogy a Hikcentral megtalálja a kért címkéket.
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12 col-md-6">
											<div class="form-group">
												<label>Címkével ellátott kamerák</label>
												<div class="input-group mb-3">
													<div class="input-group-prepend">
														<span class="input-group-text"><i class="fas fa-video"></i></span>
													</div>
													<select id="selectedCameras" name="selectedCameras" asp-items="ViewBag.Cameras" class="form-control select2bs4stay" multiple="multiple">
													</select>
												</div>
											</div>
										</div>
										<div class="col-12 col-md-6">
											<div class="alert alert-info alert-dismissible">
												A Hikcentrálban nem lehetséges a teljes intézeten belülli címkére keresés, emiatt a megcímkézett kamerák listáját kötelezően ki kell tölteni. (csak 16 kamerát lehet egyszerre kijelölni)
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<a class="btn btn-warning" onclick="stepper.previous()">Elöző</a>
											<a class="btn btn-info" onclick="summary()">Tovább</a>
											<script>
												function summary() {
													document.getElementById("summaryWhy").innerHTML = $('#inputWhy').val();
													document.getElementById("summaryTags").innerHTML = $('#inputTags').val();
													document.getElementById("summaryCameras").innerHTML = $('#selectedCameras option:selected').toArray().map(item => item.text).join(", ");
													stepper.next();
												}
											</script>
										</div>
									</div>
								</div>
								<div id="summary" class="content" role="tabpanel" aria-labelledby="summary-trigger">
									<div class="row">
										<div class="col-12">
											<div class="alert alert-light alert-dismissible">
												<h5><i class="icon fas fa-exclamation-triangle"></i> Összefoglaló áttekintése az igénylés létrehozása előtt</h5>
												<dl class="row">
													<dt class="col-sm-4"><i class="fas fa-tag"></i> Igénylés típusa</dt>
													<dd class="col-sm-8">Kamerafelvétel lementése</dd>
													<dt class="col-sm-4"><i class="fas fa-history"></i> Igénylés létrehozásának ideje</dt>
													<dd class="col-sm-8">@DateTime.Now.ToString("yyyy. MMMM dd. HH:mm")</dd>
													<dt class="col-sm-4"><i class="far fa-eye"></i> Lementésének oka</dt>
													<dd id="summaryWhy" class="col-sm-8"></dd>
													<dt class="col-sm-4"><i class="fas fa-tags"></i> Címkék megnevezése</dt>
													<dd id="summaryTags" class="col-sm-8"></dd>
													<dt class="col-sm-4"><i class="fas fa-video"></i> Megcímkézett kamerák</dt>
													<dd id="summaryCameras" class="col-sm-8"></dd>
												</dl>
											</div>
										</div>
									</div>
									<div class="custom-control custom-checkbox mb-3">
										<input type="checkbox" class="custom-control-input" id="acceptRequest" required>
										<label class="custom-control-label" for="acceptRequest">Az összefoglalót elolvastam és minden információ helyesen lett megadva.</label>
										<div class="invalid-feedback">Az adatok helyességének ellenőrzése nélkül nem készülhet el az igénylés.</div>
									</div>
									<div class="row">
										<div class="col-12">
											<a class="btn btn-warning" onclick="stepper.previous()">Elöző</a>
											<button type="submit" class="btn btn-info">Igénylés létrehozása</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>

		</div>
	</div>
</div>

<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', function () {
		window.stepper = new Stepper(document.querySelector('.bs-stepper'));
	});
</script>