@model ISZR.Models.Request

@{
    ViewData["Title"] = "Meglévő felhasználó részére többletjogosultság";
}

<link rel="stylesheet" href="~/plugins/bs-stepper/css/bs-stepper.min.css">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-default">
                <div class="card-header bg-info">
                    <h3 class="card-title">Jogosultság igénylése</h3>
                </div>
                <div class="card-body p-0">
                    <form asp-action="UserNeedPermissions">
                        <div class="row">
                            <div class="col-12">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            </div>
                        </div>
                        <div class="bs-stepper linear">
                            <div class="bs-stepper-header" role="tablist">
                                <div class="step active" data-target="#request-info">
                                    <button type="button" class="step-trigger" role="tab" aria-controls="request-info" id="request-info-trigger" aria-selected="true">
                                        <span class="bs-stepper-circle bg-info"><i class="fas fa-info"></i></span>
                                        <span class="bs-stepper-label">Igényléssel kapcsolatos információk</span>
                                    </button>
                                </div>
                                <div class="line"></div>
                                <div class="step" data-target="#permissions">
                                    <button type="button" class="step-trigger" role="tab" aria-controls="permissions" id="permissions-trigger" aria-selected="false" disabled="disabled">
                                        <span class="bs-stepper-circle bg-info"><i class="fas fa-key"></i></span>
                                        <span class="bs-stepper-label">Kivánt jogosultságok kiválasztása</span>
                                    </button>
                                </div>
                                <div class="line"></div>
                                <div class="step" data-target="#summary">
                                    <button type="button" class="step-trigger" role="tab" aria-controls="summary" id="summary-trigger" aria-selected="false" disabled="disabled">
                                        <span class="bs-stepper-circle bg-info"><i class="fas fa-list"></i></span>
                                        <span class="bs-stepper-label">Összesítés</span>
                                    </button>
                                </div>
                            </div>
                            <div class="bs-stepper-content">
                                <div id="request-info" class="content active dstepper-block" role="tabpanel" aria-labelledby="request-info-trigger">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="alert alert-info alert-dismissible">
                                                <h5><i class="icon fas fa-info"></i> Figyelem!</h5>
                                                Minden igénylés előtt kérlek ellenőrízd, hogy a felhasználó részére nem e létezik már az adott igénylés.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label>Személy aki részére az igénylés zajlik</label>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                                    </div>
                                                    <select asp-for="RequestForId" class="form-control" asp-items="ViewBag.RequestForId">
                                                        <option value="" disabled selected>Felhasználó kiválasztása...</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="callout callout-info">
                                                <p>Az elmúlt 1 hónapban a kiválasztott felhasználó számára <b>0</b> igénylés történt.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="btn btn-info" onclick="stepper.next()">Tovább</a>
                                </div>
                                <div id="permissions" class="content" role="tabpanel" aria-labelledby="permissions-trigger">
                                    <div class="row">
                                        <div class="col-12">
                                        </div>
                                    </div>
                                    <a class="btn btn-warning" onclick="stepper.previous()">Elöző</a>
                                    <a class="btn btn-info" onclick="stepper.next()">Tovább</a>
                                </div>
                                <div id="summary" class="content" role="tabpanel" aria-labelledby="summary-trigger">
                                    <div class="form-group">
                                        <label for="exampleInputFile">File input</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="exampleInputFile">
                                                <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                            </div>
                                            <div class="input-group-append">
                                                <span class="input-group-text">Upload</span>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="btn btn-warning" onclick="stepper.previous()">Elöző</a>
                                    <button type="submit" class="btn btn-info">Igénylés létrehozása</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/plugins/bs-stepper/js/bs-stepper.min.js"></script>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        window.stepper = new Stepper(document.querySelector('.bs-stepper'))
    })
</script>