@model ISZR.Models.Request

@{
	ViewData["Title"] = "Meglévő felhasználó részére többletjogosultság";
}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="card card-default">
				<div class="card-header bg-info">
					<h3 class="card-title">Igénylés menete</h3>
				</div>
				<div class="card-body p-0">
					<form asp-action="Tobbletjogosultsag">
						<div class="row">
							<div class="col-12">
								<div asp-validation-summary="ModelOnly" class="text-danger"></div>
							</div>
						</div>
						<div class="bs-stepper linear">
							<div class="bs-stepper-header" role="tablist">
								<div class="step active" data-target="#request-info">
									<button type="button" class="step-trigger" role="tab" aria-controls="request-info" id="request-info-trigger" aria-selected="true">
										<span class="bs-stepper-circle bg-info"><i class="fas fa-male"></i></span>
										<span class="bs-stepper-label">Felhasználó kiválasztás</span>
									</button>
								</div>
								<div class="line"></div>
								<div class="step" data-target="#permissions">
									<button type="button" class="step-trigger" role="tab" aria-controls="permissions" id="permissions-trigger" aria-selected="false" disabled="disabled">
										<span class="bs-stepper-circle bg-info"><i class="fas fa-key"></i></span>
										<span class="bs-stepper-label">Kivánt jogosultságok kiválasztása</span>
									</button>
								</div>
								<div class="line"></div>
								<div class="step" data-target="#summary">
									<button type="button" class="step-trigger" role="tab" aria-controls="summary" id="summary-trigger" aria-selected="false" disabled="disabled">
										<span class="bs-stepper-circle bg-info"><i class="fas fa-list"></i></span>
										<span class="bs-stepper-label">Összesítés</span>
									</button>
								</div>
							</div>
							<div class="bs-stepper-content">
								<div id="request-info" class="content active dstepper-block" role="tabpanel" aria-labelledby="request-info-trigger">
									<div class="row">
										<div class="col-12 col-md-6">
											<div class="form-group">
												<label>Személy aki részére az igénylés zajlik</label>
												<div class="input-group mb-3">
													<div class="input-group-prepend">
														<span class="input-group-text"><i class="fas fa-user"></i></span>
													</div>
													<select id="selectedUser" asp-for="RequestForId" asp-items="ViewBag.RequestForId" class="form-control select2bs4">
													</select>
												</div>
											</div>
										</div>
										<div class="col-12 col-md-6">
											<div class="alert alert-info alert-dismissible">
												<h5><i class="icon fas fa-info"></i> Figyelem!</h5>
												Amennyiben a felhasználó nem található a listában, kérem küldjön e-mailt az informatikai csoportnak!
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<a class="btn btn-info" onclick="stepper.next()">Tovább</a>
										</div>
									</div>
								</div>
								<div id="permissions" class="content" role="tabpanel" aria-labelledby="permissions-trigger">
									<div class="row">
										<div class="col-12">
											<div class="alert alert-info alert-dismissible">
												<h5><i class="icon fas fa-info"></i> Figyelem!</h5>
												Amennyiben nem tudod, nem vagy biztos abban, hogy milyen jogosultságot keresel, a <a class="btn btn-warning text-decoration-none text-dark" asp-controller="Home" asp-action="Permissions"><i class="fas fa-key"></i> Jogosultsági magyarázat</a> menüpontban tudsz keresni és információt szerezni!
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<div class="form-group">
												<label>Windows jogosultságok</label>
												<div class="input-group mb-3">
													<div class="input-group-prepend">
														<span class="input-group-text"><i class="fab fa-windows"></i></span>
													</div>
													<select id="selectedWindows" name="windowsPermissions" asp-items="ViewBag.Windows" class="form-control select2bs4stay" multiple="multiple">
													</select>
												</div>
											</div>
										</div>
										<div class="col-12">
											<div class="form-group">
												<label>Főnix 3 jogosultságok</label>
												<div class="input-group mb-3">
													<div class="input-group-prepend">
														<span class="input-group-text"><i class="fas fa-dove"></i></span>
													</div>
													<select id="selectedFonix" name="fonix3Permissions" asp-items="ViewBag.Fonix3" class="form-control select2bs4stay" multiple="multiple">
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<a class="btn btn-warning" onclick="stepper.previous()">Elöző</a>
											<a class="btn btn-info" onclick="summary()">Tovább</a>
											<script>
												function summary() {
													document.getElementById("summaryUser").innerHTML = $('#selectedUser option:selected').toArray().map(item => item.text).join();
													document.getElementById("summaryWindows").innerHTML = $('#selectedWindows option:selected').toArray().map(item => item.text).join(", ");
													document.getElementById("summaryFonix").innerHTML = $('#selectedFonix option:selected').toArray().map(item => item.text).join(", ");
													stepper.next();
												}
											</script>
										</div>
									</div>
								</div>
								<div id="summary" class="content" role="tabpanel" aria-labelledby="summary-trigger">
									<div class="row">
										<div class="col-12">
											<div class="alert alert-light alert-dismissible">
												<h5><i class="icon fas fa-exclamation-triangle"></i> Összefoglaló áttekintése az igénylés létrehozása előtt</h5>
												<dl class="row">
													<dt class="col-sm-4"><i class="fas fa-user"></i> Kinek a részére</dt>
													<dd id="summaryUser" class="col-sm-8"></dd>
													<dt class="col-sm-4"><i class="fas fa-tag"></i> Igénylés típusa</dt>
													<dd class="col-sm-8">Meglévő felhasználó részére többletjogosultság</dd>
													<dt class="col-sm-4"><i class="fas fa-history"></i> Igénylés létrehozásának ideje</dt>
													<dd class="col-sm-8">@DateTime.Now.ToString("yyyy. MMMM dd. HH:mm")</dd>
													<dt class="col-sm-4"><i class="fa fa-key"></i> Windows jogosultságok</dt>
													<dd id="summaryWindows" class="col-sm-8"></dd>
													<dt class="col-sm-4"><i class="fas fa-dove"></i> Főnix 3 jogosultságok</dt>
													<dd id="summaryFonix" class="col-sm-8"></dd>
												</dl>
											</div>
										</div>
									</div>
									<div class="custom-control custom-checkbox mb-3">
										<input type="checkbox" class="custom-control-input" id="acceptRequest" required>
										<label class="custom-control-label" for="acceptRequest">Az összefoglalót elolvastam és minden információ helyesen lett megadva.</label>
										<div class="invalid-feedback">Az adatok helyességének ellenőrzése nélkül nem készülhet el az igénylés.</div>
									</div>
									<div class="row">
										<div class="col-12">
											<a class="btn btn-warning" onclick="stepper.previous()">Elöző</a>
											<button type="submit" class="btn btn-info">Igénylés létrehozása</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>

		</div>
	</div>
</div>

<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', function () {
		window.stepper = new Stepper(document.querySelector('.bs-stepper'));
	});
</script>