@model IEnumerable<ISZR.Models.Request>

@{
    ViewData["Title"] = "Igénylések";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Windows jogosultság igénylése egy személy számára</h1>
            </div>
        </div>
    </div>
</div>