@model ISZR.Web.Models.User

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Felhasználó részletei";
    string? className = Model?.Class != null ? Model?.Class.Name : "";
    string? positionName = Model?.Position != null ? Model?.Position.Name : "";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Felhasználóhoz adatok megtekintése</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h4 class="m-2">Informatikai adatok</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>Felhasználónév</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-desktop"></i></span>
                                    </div>
                                    <input type="text" value="@Model?.Username" class="form-control" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>Utolsó használatának ideje</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-history"></i></span>
                                    </div>
                                    <input type="text" value="@Model?.LastLogin.ToString("yyyy. MMMM dd. HH:mm")" class="form-control" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h4 class="m-2">Személyes adatok</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>Név</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                    <input type="text" value="@Model?.DisplayName" class="form-control" disabled />
                                </div>
                            </div>
                        </div>
                        @if (Model != null)
                        {
                            <div class="col-12 col-md-3">
                                <div class="form-group">
                                    <label>Megszólítás</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-venus-mars"></i></span>
                                        </div>
                                        <select asp-for="@Model.Genre" class="form-control select2bs4" disabled>
                                            <option value="Male">Úr</option>
                                            <option value="Female">Hölgy</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="col-12 col-md-3">
                            <div class="form-group">
                                <label>Rendfokozat</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-medal"></i></span>
                                    </div>
                                    <input type="text" value="@Model?.Rank" class="form-control" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h4 class="m-2">Munkával kapcsolatos adatok</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>Osztály</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-users"></i></span>
                                    </div>
                                    <input type="text" value="@className" class="form-control" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>Beosztás</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-people-arrows"></i></span>
                                    </div>
                                    <input type="text" value="@positionName" class="form-control" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h4 class="m-2">Elérhetőség</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Szolgálati hely</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                                    </div>
                                    <input type="text" value="@Model?.Location" class="form-control" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>E-mail cím</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                    </div>
                                    <input type="email" value="@Model?.Email" class="form-control" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>NTG elérhetőség</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                    </div>
                                    <input type="text" value="@Model?.Phone" class="form-control" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <span class="float-right">
                                <a asp-action="Index" class="btn btn-secondary"><i class="icon fas fa-sign-out-alt mr-2"></i>Vissza</a>
                                <a asp-action="Edit" asp-route-id="@Model?.UserId"><input type="button" value="Felhasználó szerkesztése" class="btn btn-info ml-1" /></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
