@model ISZR.Web.Models.User

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Felhasználó szerkesztése";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card card-warning">
                <div class="card-header">
                    <h3 class="card-title">Felhasználóhoz tartozó adatok szerkesztése</h3>
                </div>
                <div class="card-body">
                    <form asp-action="Edit">
                        <div class="row">
                            <div class="col-12">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            </div>
                        </div>
                        <input type="hidden" asp-for="UserId" />
                        <div class="row">
                            <div class="col-12">
                                <h4 class="m-2">Informatikai adatok</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label>Felhasználónév</label>
                                    <span asp-validation-for="Username" class="text-danger"></span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-desktop"></i></span>
                                        </div>
                                        <input type="text" asp-for="Username" class="form-control" placeholder="Felhasználó Login neve" spellcheck="false">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="form-group">
                                    <label>Utolsó bejelentkezés ideje</label>
                                    <span asp-validation-for="LastLogin" class="text-danger"></span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-history"></i></span>
                                        </div>
                                        <input type="datetime-local" asp-for="LastLogin" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="form-group">
                                    <label>Bejelentkezések mennyisége</label>
                                    <span asp-validation-for="LogonCount" class="text-danger"></span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-history"></i></span>
                                        </div>
                                        <input type="number" asp-for="LogonCount" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h4 class="m-2">Személyes adatok</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label>Név</label><span class="text-danger font-weight-bold ml-1">*</span>
                                    <span asp-validation-for="DisplayName" class="text-danger"></span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input type="text" asp-for="DisplayName" class="form-control" placeholder="Aláírásokon szereplő név" spellcheck="true" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="form-group">
                                    <label>Megszólítás</label><span class="text-danger font-weight-bold ml-1">*</span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-venus-mars"></i></span>
                                        </div>
                                        <select asp-for="Genre" class="form-control select2bs4" required>
                                            <option value="Male">Úr</option>
                                            <option value="Female">Hölgy</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="form-group">
                                    <label>Rendfokozat</label><span class="text-danger font-weight-bold ml-1">*</span>
                                    <span asp-validation-for="Rank" class="text-danger"></span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-medal"></i></span>
                                        </div>
                                        <select asp-for="Rank" class="form-control select2bs4" required>
                                            <option>Munkavállaló</option>
                                            <option>Rendvédelmi-alkalmazott</option>
                                            <option>Őrmester</option>
                                            <option>Törzsőrmester</option>
                                            <option>Főtörzsőrmester</option>
                                            <option>Zászlós</option>
                                            <option>Törzszászlós</option>
                                            <option>Főtörzszászlós</option>
                                            <option>Hadnagy</option>
                                            <option>Főhadnagy</option>
                                            <option>Százados</option>
                                            <option>Őrnagy</option>
                                            <option>Alezredes</option>
                                            <option>Ezredes</option>
                                            <option>Dandártábornok</option>
                                            <option>Vezérőrnagy</option>
                                            <option>Altábornagy</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h4 class="m-2">Munkával kapcsolatos adatok</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label>Osztály</label><span class="text-danger font-weight-bold ml-1">*</span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-users"></i></span>
                                        </div>
                                        <select asp-for="ClassId" class="form-control select2bs4" asp-items="ViewBag.ClassId" required></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label>Beosztás</label><span class="text-danger font-weight-bold ml-1">*</span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-people-arrows"></i></span>
                                        </div>
                                        <select asp-for="PositionId" class="form-control select2bs4" asp-items="ViewBag.PositionId" required></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h4 class="m-2">Elérhetőség</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Szolgálati hely</label><span class="text-danger font-weight-bold ml-1">*</span>
                                    <span asp-validation-for="Location" class="text-danger"></span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                                        </div>
                                        <input type="text" asp-for="Location" class="form-control" placeholder="Szolgálati hely" spellcheck="true" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label>E-mail cím</label>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                        </div>
                                        <input type="email" asp-for="Email" class="form-control" placeholder="Belső e-mail cím (bv.gov.hu)">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label>NTG elérhetőség</label>
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                        </div>
                                        <input type="text" asp-for="Phone" class="form-control" placeholder="1061234" spellcheck="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="float-left">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="agreeToTerms" name="agreeToTerms" required>
                                        <label class="custom-control-label" for="agreeToTerms">
                                            Minden kötelező mezőt (<span class="text-danger font-weight-bold">*</span>) kitöltöttem, és a megadott adatok helyesek.
                                        </label>
                                    </div>
                                </div>
                                <div class="float-right">
                                    <a asp-action="Index" class="btn btn-secondary"><i class="icon fas fa-sign-out-alt mr-2"></i>Vissza</a>
                                    <input type="submit" value="Felhasználó szerkesztése" class="btn btn-warning ml-1" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
