@model ISZR.Web.Models.User

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Felhasználó szerkesztése";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card card-warning">
                <div class="card-header">
                    <h3 class="card-title">Felhasználóhoz tartozó adatok szerkesztése</h3>
                </div>
                <div class="card-body">
                    <form asp-action="Edit" onsubmit="submitButton.disabled = true; return true;">
                        <div class="row">
                            <div class="col-12">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            </div>
                        </div>
                        <input type="hidden" asp-for="UserId" />
                        <div class="row">
                            <div class="col-12">
                                <h4 class="m-2">Informatikai adatok</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label>Nevezze meg a felhasználó felhasználónevét</label>
                                    <span asp-validation-for="Username" class="text-danger"></span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-warning"><i class="fas fa-desktop mr-2"></i>Felhasználónév</span>
                                        </div>
                                        <input type="text" asp-for="Username" class="form-control" placeholder="Felhasználó Login neve (DOMAIN\username)" spellcheck="false" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label>Válassza ki a felhasználó utolsó használatának idejét</label>
                                    <span asp-validation-for="LastLogin" class="text-danger"></span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-warning"><i class="fas fa-history mr-2"></i>Időpont</span>
                                        </div>
                                        <input type="datetime-local" asp-for="LastLogin" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h4 class="m-2">Személyes adatok</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-4">
                                <div class="form-group">
                                    <label>Nevezze meg a felhasználó aláírásokon szereplő nevét</label><span class="text-danger font-weight-bold ml-1">*</span>
                                    <span asp-validation-for="DisplayName" class="text-danger"></span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-warning"><i class="fas fa-user mr-2"></i>Név</span>
                                        </div>
                                        <input type="text" asp-for="DisplayName" class="form-control" placeholder="Aláírásokon szereplő név" spellcheck="true" required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-xl-4">
                                <div class="form-group">
                                    <label>Nevezze meg a felhasználó megszólítását</label><span class="text-danger font-weight-bold ml-1">*</span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-warning"><i class="fas fa-venus-mars mr-2"></i>Megszólítás</span>
                                        </div>
                                        <select asp-for="Genre" class="form-control select2bs4" required>
                                            <option value="Male">Úr</option>
                                            <option value="Female">Hölgy</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-xl-4">
                                <div class="form-group">
                                    <label>Válassza ki a felhasználó rendfokozatát</label><span class="text-danger font-weight-bold ml-1">*</span>
                                    <span asp-validation-for="Rank" class="text-danger"></span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-warning"><i class="fas fa-medal mr-2"></i>Rendfokozat</span>
                                        </div>
                                        <select asp-for="Rank" class="form-control select2bs4" required>
                                            <option>Munkavállaló</option>
                                            <option>Rendvédelmi-alkalmazott</option>
                                            <option>Őrmester</option>
                                            <option>Törzsőrmester</option>
                                            <option>Főtörzsőrmester</option>
                                            <option>Zászlós</option>
                                            <option>Törzszászlós</option>
                                            <option>Főtörzszászlós</option>
                                            <option>Hadnagy</option>
                                            <option>Főhadnagy</option>
                                            <option>Százados</option>
                                            <option>Őrnagy</option>
                                            <option>Alezredes</option>
                                            <option>Ezredes</option>
                                            <option>Dandártábornok</option>
                                            <option>Vezérőrnagy</option>
                                            <option>Altábornagy</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h4 class="m-2">Munkával kapcsolatos adatok</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-6">
                                <div class="form-group">
                                    <label>Válassza ki a felhasználó osztályát vagy csoportját</label><span class="text-danger font-weight-bold ml-1">*</span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-warning"><i class="fas fa-users mr-2"></i>Osztály/Csoport</span>
                                        </div>
                                        <select asp-for="ClassId" class="form-control select2bs4" asp-items="ViewBag.ClassId" required></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-xl-6">
                                <div class="form-group">
                                    <label>Válassza ki a felhasználó beosztását</label><span class="text-danger font-weight-bold ml-1">*</span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-warning"><i class="fas fa-people-arrows mr-2"></i>Beosztás</span>
                                        </div>
                                        <select asp-for="PositionId" class="form-control select2bs4" asp-items="ViewBag.PositionId" required></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h4 class="m-2">Elérhetőség</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Nevezze meg a felhasználó szolgálati helyét</label><span class="text-danger font-weight-bold ml-1">*</span>
                                    <span asp-validation-for="Location" class="text-danger"></span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-warning"><i class="fas fa-map-marker-alt mr-2"></i>Szolgálati hely</span>
                                        </div>
                                        <input type="text" asp-for="Location" class="form-control" placeholder="Szolgálati hely" spellcheck="true" required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label>Nevezze meg a felhasználó e-mail címét</label>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-warning"><i class="fas fa-envelope mr-2"></i>E-mail</span>
                                        </div>
                                        <input type="email" asp-for="Email" class="form-control" placeholder="Belső e-mail cím (bv.gov.hu)" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label>Nevezze meg a felhasználó NTG elérhetőségét</label>
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-warning"><i class="fas fa-phone mr-2"></i>NTG</span>
                                        </div>
                                        <input type="text" asp-for="Phone" class="form-control" placeholder="1061234" spellcheck="true" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="float-left">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="agreeToTerms" name="agreeToTerms" required />
                                        <label class="custom-control-label" for="agreeToTerms">
                                            Minden kötelező mezőt (<span class="text-danger font-weight-bold">*</span>) kitöltöttem, és a megadott adatok helyesek.
                                        </label>
                                    </div>
                                </div>
                                <div class="float-right">
                                    <a onclick="history.back()" class="btn btn-secondary"><i class="icon fas fa-sign-out-alt mr-2"></i>Vissza</a>
                                    <input id="submitButton" type="submit" value="Felhasználó szerkesztése" class="btn btn-warning ml-1" disabled />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
