@model ISZR.Models.Permission

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Jogosultság törlése";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card card-danger">
                <div class="card-header">
                    <h3 class="card-title">Jogosultsághoz tartozó adatok</h3>
                </div>

                <div class="card-body">
                    <form asp-action="Delete">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Jogosultság megnevezése</label>
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                                        </div>
                                        <input type="text" value="@Model?.Name" class="form-control" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Jogosultság leírása</label>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-pencil-alt"></i></span>
                                        </div>
                                        <input type="text" value="@Model?.Description" class="form-control" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (Model?.Type == "Windows")
                        {
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Active Directory jogosultságok megnevezése</label>
                                        <span asp-validation-for="ActiveDirectoryPermissions" class="text-danger"></span>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-database"></i></span>
                                            </div>
                                            <input type="text" value="@Model?.ActiveDirectoryPermissions" class="form-control" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <input type="hidden" asp-for="PermissionId" />
                        <input type="submit" value="Jogosultság törlése" class="btn btn-danger" />
                        <a asp-action="Edit" asp-route-id="@Model?.PermissionId"><input type="button" value="Jogosultság szerkesztése" class="btn btn-warning" /></a>
                        <a asp-action="Index"><input type="button" value="Vissza a listához" class="btn btn-info" /></a>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
