@using ISZR.Web.Components;
@model ISZR.Web.Models.Request

@{
    ViewData["Title"] = $"#{Model?.RequestId} számú igénylés részletei";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="invoice p-3 mb-3">
                <div class="row d-none d-print-block">
                    <div class="col-12 d-flex justify-content-center">
                        <img src="~/img/cimer.png" alt="Címer" height="100em">
                    </div>
                    <div class="col-12 font-weight-bold text-center mt-2 mb-2">
                        <h4 class="mb-0">BÜNTETÉS-VÉGREHAJTÁS GAZDASÁGI ELLÁTÓ INTÉZETE</h4>
                        <h5>I. AGGLOMERÁCIÓ</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h4>
                            <span class="d-print-none"><i class="fas fa-paperclip"></i> Digitális Szolgálati jegy</span>
                            <small class="float-right">ISZR <a href="@Url.Content(Context.Request.Path)" class="text-info font-weight-bold text-decoration-none">#@Model?.RequestId</a></small>
                        </h4>
                    </div>
                </div>
                <div class="row invoice-info mb-2">
                    @if (Model?.RequestAuthor != null)
                    {
                        <div class="col-xl-4 col-md-6 col-12 invoice-col">
                            <strong>Igénylést intéző</strong>
                            <address>
                                @Model?.RequestAuthor?.DisplayName bv. @Model?.RequestAuthor?.Rank?.ToLower()<br>
                                @Model?.RequestAuthor?.Class?.Name, @Model?.RequestAuthor?.Position?.Name<br />
                                @if (Account.IsAdmin())
                                {
                                    <span class="d-print-none"><i class="fab fa-windows"></i> @Model?.RequestAuthor?.Username<br /></span>
                                }
                                @if (Model?.RequestAuthor?.Email != null)
                                {
                                    <i class="fas fa-envelope"></i> @Model?.RequestAuthor?.Email
                                    <br>
                                }
                                @if (Model?.RequestAuthor?.Phone != null)
                                {
                                    <i class="fas fa-phone-square-alt"></i> @Model?.RequestAuthor?.Phone
                                }
                            </address>
                        </div>
                    }
                    @if (Model?.RequestFor != null)
                    {
                        <div class="col-xl-4 col-md-6 col-12 invoice-col">
                            <strong>Kinek a számra</strong>
                            <address>
                                @Model?.RequestFor?.DisplayName bv. @Model?.RequestFor?.Rank?.ToLower()<br>
                                @Model?.RequestFor?.Class?.Name, @Model?.RequestFor?.Position?.Name<br />
                                @if (Account.IsAdmin())
                                {
                                    <span class="d-print-none"><i class="fab fa-windows"></i> @Model?.RequestFor?.Username<br /></span>
                                }
                                @if (Model?.RequestFor?.Email != null)
                                {
                                    <i class="fas fa-envelope"></i> @Model?.RequestFor?.Email
                                    <br>
                                }
                                @if (Model?.RequestFor?.Phone != null)
                                {
                                    <i class="fas fa-phone-square-alt"></i> @Model?.RequestFor?.Phone
                                }
                            </address>
                        </div>
                    }
                    <div class="col-xl-4 col-12 invoice-col d-print-none">
                        <div>
                            <span class="font-weight-bold">Igénylés típusa:</span>
                            <span class="ml-1">@Model?.Type</span>
                        </div>
                        <div>
                            <span class="font-weight-bold">Létrehozva:</span>
                            <span class="ml-1">@Model?.CreationDate.ToString("yyyy. MMMM dd. HH:mm")</span>
                        </div>
                        @if (Model?.ResolveDate != new DateTime())
                        {
                            <div>
                                <span class="font-weight-bold">Lezárva:</span>
                                <span class="ml-1">@Model?.ResolveDate.ToString("yyyy. MMMM dd. HH:mm")</span>
                            </div>
                            <div>
                                <span class="font-weight-bold">Lezáró személy:</span>
                                <span class="ml-1">@Model?.Resolver?.DisplayName</span>
                            </div>
                        }
                        <div>
                            <span class="font-weight-bold">Státusz:</span>
                            @{
                                switch (Model?.Status)
                                {
                                    case "Elutasítva":
                                        {
                                            <span class="badge badge-danger ml-1"><i class="icon fas fa-ban"></i> @Model?.Status</span>
                                            break;
                                        }
                                    case "Végrehajtva":
                                        {
                                            <span class="badge badge-success ml-1"><i class="icon fas fa-check"></i> @Model?.Status</span>
                                            break;
                                        }
                                    default:
                                        {
                                            <span class="badge badge-warning ml-1"><i class="icon fas fa-comment-dots"></i> @Model?.Status</span>
                                            break;
                                        }
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        @if (Model?.RequestFor?.Class?.Authorizer?.Genre == Genre.Male)
                        {
                            <span class="font-weight-bold d-none d-print-block">Tisztelt @Model?.RequestFor?.Class?.Authorizer?.Position?.Name Úr!</span>
                        } else
                        {
                            <span class="font-weight-bold d-none d-print-block">Tisztelt @Model?.RequestFor?.Class?.Authorizer?.Position?.Name Asszony!</span>
                        }
                    </div>
                    <div class="col-12 mb-3">
                        @Html.Raw(@Model?.Description)
                    </div>
                </div>
                @{
                    if (Model?.WindowsPermissions != null)
                    {
                        <div class="row">
                            <div class="col-12 d-none d-print-block">
                                <dl>
                                    <dt><i class="fab fa-windows"></i> Windows jogosultságok</dt>
                                    <dd>@Model?.WindowsPermissions</dd>
                                </dl>
                            </div>
                            <div class="col-12 d-print-none">
                                <div class="alert alert-info alert-dismissible">
                                    <h5><i class="icon fab fa-windows"></i> Windows jogosultságok</h5>
                                    @Model?.WindowsPermissions
                                </div>
                            </div>
                        </div>
                    }
                }
                @{
                    if (Model?.FonixPermissions != null)
                    {
                        <div class="row">
                            <div class="col-12 d-none d-print-block">
                                <dl>
                                    <dt><i class="fas fa-dove"></i> Főnix 3 jogosultságok</dt>
                                    <dd>@Model?.FonixPermissions</dd>
                                </dl>
                            </div>
                            <div class="col-12 d-print-none">
                                <div class="alert alert-warning alert-dismissible">
                                    <h5><i class="icon fas fa-dove"></i> Főnix 3 jogosultságok</h5>
                                    @Model?.FonixPermissions
                                </div>
                            </div>
                        </div>
                    }
                }
                <div class="row mt-5 d-none d-print-block">
                    <div class="col-12">
                        @if (Model?.RequestAuthor != null)
                        {
                            <div class="float-left signature text-center ml-5">
                                <p class="mb-5 text-left font-weight-bold">Kérelmező:</p>
                                <hr />
                                <h5 class="mb-0">@Model?.RequestAuthor?.DisplayName bv. @Model?.RequestAuthor?.Rank?.ToLower()</h5>
                                @Model?.RequestAuthor?.Position?.Name
                            </div>
                        }
                        @if (Model?.RequestFor?.Class?.Authorizer != null)
                        {
                            <div class="float-right text-center mr-5">
                                <p class="mb-5 text-left font-weight-bold">Engedélyezem:</p>
                                <hr />
                                <h5 class="mb-0">@Model?.RequestFor?.Class?.Authorizer?.DisplayName bv. @Model?.RequestFor?.Class?.Authorizer?.Rank?.ToLower()</h5>
                                @Model?.RequestFor?.Class?.Authorizer?.Position?.Name
                            </div>
                        }
                    </div>
                </div>
                <div class="row d-print-none">
                    <div class="col-12">
                        <span class="float-right">
                            <a href="javascript:history.go(-1)" class="btn btn-secondary"><i class="fas fa-sign-out-alt"></i> Vissza</a>
                            <a class="btn btn-default ml-1 mr-1" onclick="window.print()"><i class="fas fa-print"></i> Igénylés nyomtatása</a>
                            @if (Account.IsAdmin())
                            {
                                if (Model?.Status != "Elutasítva")
                                {
                                    <form style="display: inline;" asp-action="Details">
                                        <input hidden name="id" value="@Model?.RequestId">
                                        <input hidden name="status" value="Elutasítva">
                                        <input hidden name="resolverId" value="@Model?.ResolverId">
                                        <button type="submit" class="btn btn-default float-right ml-1">
                                            <span class="text-danger mr-1"><i class="fas fa-times-circle"></i></span>Igénylés elutasítása
                                        </button>
                                    </form>
                                }

                                if (Model?.Status != "Folyamatban")
                                {
                                    <form style="display: inline;" asp-action="Details">
                                        <input hidden name="id" value="@Model?.RequestId">
                                        <input hidden name="status" value="Folyamatban">
                                        <input hidden name="resolverId" value="@Model?.ResolverId">
                                        <button type="submit" class="btn btn-default float-right ml-1 mr-1">
                                            <span class="text-warning mr-1"><i class="fas fa-comment-dots"></i></span>Igénylés folyamatba helyezése
                                        </button>
                                    </form>
                                }

                                if (Model?.Status != "Végrehajtva")
                                {
                                    <form style="display: inline;" asp-action="Details">
                                        <input hidden name="id" value="@Model?.RequestId">
                                        <input hidden name="status" value="Végrehajtva">
                                        <input hidden name="resolverId" value="@Model?.ResolverId">
                                        <button type="submit" class="btn btn-default float-right ml-1 mr-1">
                                            <span class="text-success mr-1"><i class="fas fa-check-circle"></i></span>Igénylés végrehajtása
                                        </button>
                                    </form>
                                }
                            }
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
