@model ISZR.Web.Models.Request

@{
    ViewData["Title"] = "E-mail cím igénylése";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-default">
                <div class="card-header bg-info">
                    <h3 class="card-title">Igénylés menete</h3>
                </div>
                <div class="card-body p-0">
                    <form asp-action="Email" onsubmit="submitButton.disabled = true; return true;">
                        <div class="row">
                            <div class="col-12">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            </div>
                        </div>
                        <div class="bs-stepper linear">
                            <div class="bs-stepper-header" role="tablist">
                                <div class="step active" data-target="#informations">
                                    <button type="button" class="step-trigger" role="tab" aria-controls="informations" id="informations-trigger" aria-selected="true">
                                        <span class="bs-stepper-circle bg-info"><i class="icon fas fa-info"></i></span>
                                        <span class="bs-stepper-label">Tájékoztatás</span>
                                    </button>
                                </div>
                                <div class="line"></div>
                                <div class="step" data-target="#request-info">
                                    <button type="button" class="step-trigger" role="tab" aria-controls="request-info" id="request-info-trigger" aria-selected="false" disabled>
                                        <span class="bs-stepper-circle bg-info"><i class="icon fas fa-male"></i></span>
                                        <span class="bs-stepper-label">Felhasználóval kapcsolatos adatok</span>
                                    </button>
                                </div>
                                <div class="line"></div>
                                <div class="step" data-target="#summary">
                                    <button type="button" class="step-trigger" role="tab" aria-controls="summary" id="summary-trigger" aria-selected="false" disabled>
                                        <span class="bs-stepper-circle bg-info"><i class="icon fas fa-list"></i></span>
                                        <span class="bs-stepper-label">Összesítés</span>
                                    </button>
                                </div>
                            </div>
                            <div class="bs-stepper-content">
                                <div id="informations" class="content active dstepper-block" role="tabpanel" aria-labelledby="informations-trigger">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="alert alert-light alert-dismissible">
                                                <h5><i class="icon fas fa-info"></i>Információ az e-mail cím igénylés menetéről</h5>
                                                Az e-mail címeket nem a helyi informatikai csoport készíti el, hanem központosítottan történik a GEI-n belül.<br />
                                                Ezért ennek az átfutási ideje akár napokat is igénybe vehet.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <span class="float-right">
                                                <a class="btn btn-info" onclick="stepper.next()">Tovább</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div id="request-info" class="content" role="tabpanel" aria-labelledby="request-info-trigger">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label>Felhasználó, aki részére az igénylés zajlik</label><span class="text-danger font-weight-bold ml-1">*</span>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                                    </div>
                                                    <select id="selectedUser" asp-for="CreatedForUserId" asp-items="ViewBag.CreatedForUserId" class="form-control select2bs4" required>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="alert alert-light alert-dismissible">
                                                <h5><i class="icon fas fa-info"></i>Információ a felhasználói listáról</h5>
                                                Csak a rendszerben létező felhasználók részére lehet igényelni e-mail címet!<br />
                                                Amennyiben nem található a kívánt személy, küldjön e-mailt az informatika részére annak hozzáadásáról.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <span class="float-right">
                                                <a class="btn btn-secondary" onclick="stepper.previous()"><i class="fas fa-sign-out-alt mr-2"></i>Vissza</a>
                                                <a class="btn btn-info ml-1" onclick="summary()">Tovább</a>
                                                <script>
                                                    function summary() {
                                                        document.getElementById("summaryUser").innerHTML = $('#selectedUser option:selected').toArray().map(item => item.text).join();
                                                        stepper.next();
                                                    }
                                                </script>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div id="summary" class="content" role="tabpanel" aria-labelledby="summary-trigger">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="alert alert-light alert-dismissible">
                                                <h5><i class="icon fas fa-exclamation-triangle"></i>Összefoglaló áttekintése az igénylés létrehozása előtt</h5>
                                                <dl class="row">
                                                    <dt class="col-sm-4"><i class="icon fas fa-user"></i>Felhasználó részére</dt>
                                                    <dd id="summaryUser" class="col-sm-8"></dd>
                                                    <dt class="col-sm-4"><i class="icon fas fa-tag"></i>Igénylés típusa</dt>
                                                    <dd class="col-sm-8">E-mail cím igénylése</dd>
                                                    <dt class="col-sm-4"><i class=" icon fas fa-history"></i>Igénylés létrehozásának ideje</dt>
                                                    <dd class="col-sm-8">@DateTime.Now.ToString("yyyy. MMMM dd. HH:mm")</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="float-left">
                                                <div class="custom-control custom-checkbox">
                                                    <input class="custom-control-input" type="checkbox" id="agreeToTerms" name="agreeToTerms" required />
                                                    <label class="custom-control-label" for="agreeToTerms">
                                                        Minden kötelező mezőt (<span class="text-danger font-weight-bold">*</span>) kitöltöttem, és a megadott adatok helyesek.
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="float-right">
                                                <a class="btn btn-secondary" onclick="stepper.previous()"><i class="fas fa-sign-out-alt mr-2"></i>Vissza</a>
                                                <button id="submitButton" name="submitButton" type="submit" class="btn btn-info ml-1" disabled>Igénylés létrehozása</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        window.stepper = new Stepper(document.querySelector('.bs-stepper'));
    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
