@model ISZR.Models.FonixPermission

@{
    ViewData["Title"] = "Főnix 3 jogosultság szerkesztése";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Főnix 3 jogosultság szerkesztése</h1>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card card-warning">
                <div class="card-header">
                    <h3 class="card-title">Főnix 3 jogosultsághoz tartozó adatok szerkesztése</h3>
                </div>

                <div class="card-body">
                    <form asp-action="Edit">
                        <div class="row">
                            <div class="col-12">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            </div>
                        </div>
                        <input type="hidden" asp-for="Id" />
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Jogosltság megnevezése</label>
                                    <input asp-for="Name" type="text" class="form-control" placeholder="Név..." spellcheck="true">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Jogosultság leírása</label>
                                    <textarea asp-for="Description" class="form-control" rows="3" placeholder="Leírás..." spellcheck="true"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="countryView">Rendelkezik országos megtekintővel?</label>
                                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                        <input asp-for="CountryView" type="checkbox" class="custom-control-input" id="countryView">
                                        <label class="custom-control-label" for="countryView"></label>
                                    </div>
                                    <span asp-validation-for="CountryView" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="view">Rendelkezik intézeti megtekintővel?</label>
                                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                        <input asp-for="View" type="checkbox" class="custom-control-input" id="view">
                                        <label class="custom-control-label" for="view"></label>
                                    </div>
                                    <span asp-validation-for="View" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="edit">Rendelkezik intézeti szerkesztővel?</label>
                                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                        <input asp-for="Edit" type="checkbox" class="custom-control-input" id="edit">
                                        <label class="custom-control-label" for="edit"></label>
                                    </div>
                                    <span asp-validation-for="Edit" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="Mentés" class="btn btn-warning" />
                        <a asp-action="Index"><input type="button" value="Vissza a listához" class="btn btn-info" /></a>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
