@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Beállítások megtörténtek";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">A rendszer beállításai sikeresen elmentve</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div>Az alkalmazást újra kell indítani, hogy az új beállításokkal tudjanak működni.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>