@{
    ViewData["Title"] = "Kapcsolattartás";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Kapcsolattartás</h1>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card card-info card-outline">
                <div class="card-body box-profile">
                    <div class="text-center">
                        <img class="profile-user-img img-fluid img-circle bg-info" src="~/img/avatar.png" alt="Kellner Béla fénykép">
                    </div>
                    <h3 class="profile-username text-center">Kellner Béla</h3>
                    <p class="text-muted text-center">Informatikai Szolgálati jegy Rendszer megalkotója</p>
                </div>
            </div>
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Rólam</h3>
                </div>

                <div class="card-body">
                    <!-- Leírás rólam Email cím, github, instagram -->
                </div>

            </div>
        </div>
    </div>
</div>