@{
    ViewData["Title"] = "GYIK";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Gyakran ismételt kérdések</h1>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12" id="accordion">
            <div class="card card-info card-outline">
                <a class="d-block w-100 bg-info" data-toggle="collapse" href="#collapseOne">
                    <div class="card-header bg-info">
                        <h4 class="card-title w-100">
                            1. Robtzsaruban hova kell feltölteni az elkészült szolgálati jegyeket?
                        </h4>
                    </div>
                </a>
                <div id="collapseOne" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Az elkészült elektronikus szolgálati jegyeket 2 különböző főszámon tároljuk!<hr /><b>Informatikával és a HikCentrálal kapcsolatos</b> szolgálati jegyeket az <b>Általános 5-ős főszámra</b> kell feltölteni.<br />Ha <b>kamerafelvételt szeretnénk lementeni</b>, akkor az elkészült szolgálati jegyeket az <b>Átalános 6-os főszámra</b> kell feltölteni.
                    </div>
                </div>
            </div>
            <div class="card card-info card-outline">
                <a class="d-block w-100 bg-info" data-toggle="collapse" href="#collapseTwo">
                    <div class="card-header bg-info">
                        <h4 class="card-title w-100">
                            2. Kivel kell aláíratnom az elkészült szolgálati jegyet?
                        </h4>
                    </div>
                </a>
                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Elösszőr is a szolálati jegy <b>elkészítőjének</b> kell aláírnia úgy, hogy <b>nem készít alszámot vele!</b><br />Az aláírt verziót, vezetői jováhagyásra kell felajánlani az adott osztály osztályvezetőjének!<br />A vezetői jováhagyás végén még a <b>parancsnokot hozzá kell adni mint kiadmányozó</b>.
                    </div>
                </div>
            </div>
            <div class="card card-info card-outline">
                <a class="d-block w-100 bg-info" data-toggle="collapse" href="#collapseThree">
                    <div class="card-header bg-info">
                        <h4 class="card-title w-100">
                            3. Szükséges e expediálnom a vezetői jováhagyásra felajánlott szolgálati jegyeket?
                        </h4>
                    </div>
                </a>
                <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Minden robotzsaruba feltöltött szolgálati jegyet <b>aláíratás során, vagy utánna el kell küldeni</b> az <a class="text-info" href="mailto: skfb-info-informatika@bv.gov.hu">skfb-info-informatika@bv.gov.hu</a> e-mail címre!<hr />Amennyiben nem érkezik meg az aláírt szolgálati jegy e-mailben, nem tudjuk biztosítani annak végrehajtását!
                    </div>
                </div>
            </div>
            <div class="card card-info card-outline">
                <a class="d-block w-100 bg-info" data-toggle="collapse" href="#collapseFour">
                    <div class="card-header bg-info">
                        <h4 class="card-title w-100">
                            4. Az adott személy honnan tudhatja meg, hogy jogosultságot kapott?
                        </h4>
                    </div>
                </a>
                <div id="collapseFour" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        A jogosultság igénylés állapotát <b>csak</b> az ISZR felhasználók láthatják!<hr />Minden ISZR felhasználó látja a saját, illetve az osztályának az igényléseit. Így csak az adott osztály kérvényezőitől tudhatja meg, hogy az adott jogosultság milyen állapotban van.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-3 text-center">
            <p class="lead">
                Amennyiben egy lépésről-lépésre segédletre lenne szükséged, nem gond! <a class="text-info font-weight-bold">Innen</a> azt is letöltheted!<br>
            </p>
        </div>
    </div>
</div>

<!-- Expediálás, Aláírások-->