@model IEnumerable<ISZR.Models.Permission>

@{
	ViewData["Title"] = "Igényelhető jogosultságok";
}

<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<form asp-controller="Home" asp-action="Permissions" method="get">
				<div class="card">
					<div class="card-header bg-info">
						<h3 class="card-title">Jogosultságok szűrése</h3>
						<div class="card-tools">
							<button type="button" class="btn btn-tool text-white" data-card-widget="collapse">
								<i class="fas fa-minus"></i>
							</button>
						</div>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-lg-6 col-12">
								<div class="form-group">
									<label>Név alapján</label>
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="fas fa-font"></i></span>
										</div>
										<input type="text" class="form-control" name="name" />
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-12">
								<div class="form-group">
									<label>Típus alapján</label>
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="fas fa-tag"></i></span>
										</div>
										<select name="type" class="form-control select2bs4">
											<option>Mind</option>
											<option>Windows jogosultság</option>
											<option>Főnix 3 jogosultság</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card-footer">
						<button type="submit" alt="Megjelenített jogosultságok szűrése" class="btn btn-info">Szűrés</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body p-0">
					<table class="table table-striped">
						<thead class="bg-info">
							<tr>
								<th>Jogosultság neve</th>
								<th>Jogosultság típusa</th>
								<th>Jogosultság leírása</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td>
										@Html.DisplayFor(modelItem => item.Name)
									</td>
									<td>
										@if (item.Type == "Windows")
										{
											<span class="text-info font-weight-bold"><i class="fab fa-windows"></i> Windows jogosultság</span>
										}
										@if (item.Type == "Főnix 3")
										{
											<span class="text-warning font-weight-bold"><i class="fas fa-dove"></i> Főnix 3 jogosultság</span>
										}
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.Description)
										@if (item.ActiveDirectoryPermissions != "")
										{
											<br />
											<span class="text-muted"><abbr title="Igénylőlapon szereplő jogosultsági kód" class="initialism">@item.ActiveDirectoryPermissions</abbr></span>
										}
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
