@model ISZR.Web.Models.Class

@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewData["Title"] = "Osztály részletei";
}

<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card card-info">
				<div class="card-header">
					<h3 class="card-title">Osztályhoz tartozó adatok megtekintése</h3>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-12">
							<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-6">
							<div class="form-group">
								<label>Osztály megnevezése</label>
								<span asp-validation-for="Name" class="text-danger"></span>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="fas fa-users"></i></span>
									</div>
									<input type="text" asp-for="Name" class="form-control" placeholder="Osztály megnevezése" spellcheck="true" disabled="disabled">
								</div>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-group">
								<label>Engedélyező személy</label>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="fas fa-signature"></i></span>
									</div>
									<select asp-for="AuthorizerId" class="form-control select2bs4" asp-items="ViewBag.AuthorizerId" disabled="disabled"></select>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12 float-right">
							<span class="float-right">
								<a asp-action="Index" class="btn btn-secondary"><i class="fas fa-sign-out-alt"></i> Vissza</a>
								<a asp-action="Edit" asp-route-id="@Model?.ClassId"><input type="button" value="Osztály szerkesztése" class="btn btn-info ml-1" /></a>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
