@model ISZR.Models.Position

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Új beosztás hozzáadása";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Beosztáshoz tartozó adatok beállítása</h3>
                </div>

                <div class="card-body">
                    <form asp-action="Create">
                        <div class="row">
                            <div class="col-12">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Beosztás megnevezése</label>
                                    <input asp-for="Name" type="text" class="form-control" placeholder="Név..." spellcheck="true">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="Hozzáadás" class="btn btn-info" />
                        <a asp-action="Index"><input type="button" value="Vissza a listához" class="btn btn-danger" /></a>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
