@model ISZR.Models.WindowsPermission

@{
    ViewData["Title"] = "Windows jogosultság törlése";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Windows jogosultság törlése</h1>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card card-danger">
                <div class="card-header">
                    <h3 class="card-title">Biztos, hogy törölni szeretnéd a következő windows jogosultságot?</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Jogosultsági csoport megnevezése</label>
                                <p>@Html.DisplayFor(model => model.Name)</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Jogosultsági csoport leírása</label>
                                <p>@Html.DisplayFor(model => model.Description)</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Hozzá tartozó Active Directory jogosultságok</label>
                                <p>@Html.DisplayFor(model => model.Permission)</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="edit">Archivált?</label>
                                <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                    <input asp-for="Archived" type="checkbox" class="custom-control-input" id="edit" disabled>
                                    <label class="custom-control-label" for="edit"></label>
                                </div>
                                <span asp-validation-for="Archived" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="WindowsPermissionId" />
                        <input type="submit" value="Windows jogosultság törlése" class="btn btn-danger" />
                        <a asp-action="Edit" asp-route-id="@Model?.WindowsPermissionId"><input type="button" value="Szerkesztés" class="btn btn-warning" /></a>
                        <a asp-action="Index"><input type="button" value="Vissza a listához" class="btn btn-info" /></a>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
