<!DOCTYPE html>
<html lang="hu">
<head>
    <!-- Site -->
    <meta charset="utf-8" />
    <meta name="language" content="hungarian">
    <meta http-equiv="content-type" content="text/html">
    <meta name="author" content="Béla Kellner" />
    <meta name="reply-to" content="bela.kellner@icloud.com">

    <!-- Search engine settings -->
    <title>ISZR - @ViewData["Title"]</title>
    <meta name="description" content="Informatikai Szolgálati jegy Rendszer" />
    <meta name="keywords" content="iszr, permission, permissions, request, jogosultság, igénylés, informatika, szolgálati jegy" />

    <!-- Mobile settings -->
    <meta name="format-detection" content="telephone=yes" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--http-equiv Tags-->
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta http-equiv="Content-Script-Type" content="text/javascript">

    <!-- Cache settings ->
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="imagetoolbar" content="no">
    <meta http-equiv="x-dns-prefetch-control" content="off">

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/img/favicon.ico" type="image/x-icon">
</head>
<body class="layout-fixed layout-navbar-fixed layout-footer-fixed sidebar-mini sidebar-mini-md hold-transition" style="height: auto;">
    <div class="wrapper">
        <!-- Navbar -->
        <partial name="_AdminNavbar" />

        <!-- Sidebar -->
        <partial name="_AdminSidebar" />

        <!-- Main content -->
        <div class="content-wrapper">
            <div class="content">

                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0">@ViewData["Title"]</h1>
                            </div>
                        </div>
                    </div>
                </div>

                @RenderBody()
            </div>
        </div>

        <!-- Footer -->
        <partial name="_Footer" />
    </div>

    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.min.js"></script>
    <!-- Select2  -->
    <script src="~/plugins/select2/js/select2.min.js"></script>
    <script src="~/plugins/select2/js/i18n/hu.js"></script>

    <script type="text/javascript">
        // Select2 legördülő lista
        document.addEventListener('DOMContentLoaded', function () {
            $('.select2bs4').select2({
                closeOnSelect: true,
                theme: 'bootstrap4'
            });
            $('.select2bs4stay').select2({
                closeOnSelect: false,
                theme: 'bootstrap4'
            });
        });

        // Checkbox ellenőrő
        $(document).ready(function () {
            $('#agreeToTerms').change(function () {
                if ($(this).is(':checked')) {
                    $('#submitButton').prop('disabled', false);
                } else {
                    $('#submitButton').prop('disabled', true);
                }
            });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
