<footer class="main-footer font-weight-normal d-print-none">
	<div class="float-left">
		&copy; 2021-@DateTime.Now.Year.
		<span>
			Az alkalmazást készítette <a class="text-info font-weight-bold" href="https://github.com/Xentinus"> <i class="fab fa-github"></i> Béla Kellner</a>.
		</span>
	</div>
	<div class="float-right ml-3">
		<span class="ml-3">Informatikai Szolgálati jegy Rendszer</span>
		<span class="text-info font-weight-bold">
			@System.Reflection.Assembly.GetExecutingAssembly().GetName().Version
			<i class="fas fa-code-branch"></i>
		</span>
	</div>
	<div class="float-right d-none d-sm-inline">
		<span>Szerver állapota:</span>
		<span class="text-success font-weight-bold"><i class="fas fa-signal"></i> Megfelelő</span>
	</div>
</footer>