@model ErrorViewModel
@{
    ViewData["Title"] = "Hiba történt";
}

<section class="content">
    <div class="error-page">
        <h2 class="headline text-danger">@Model.ErrorCode</h2>
        <div class="error-content">
            <h3 class="mb-3"><i class="icon fas fa-exclamation-triangle text-danger mr-2"></i>Hiba történt</h3>
            @if (Model.ShowRequestId)
            {
                <p>
                    <strong>Hiba azonosító:</strong> <code>@Model.RequestId</code>
                </p>
            }
            @if (!string.IsNullOrEmpty(Model.Message))
            {
                <p>
                    <code>@Model.Message</code>
                </p>
            }
        </div>
    </div>
</section>
