@model ISZR.Web.Models.Camera

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Új kamera létrehozása";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">Kamerához tartozó adatok beállítása</h3>
                </div>

                <div class="card-body">
                    <form asp-action="Create" onsubmit="submitButton.disabled = true; return true;">
                        <div class="row">
                            <div class="col-12">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Kamera megnevezése</label><span class="text-danger font-weight-bold ml-1">*</span>
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-video"></i></span>
                                        </div>
                                        <input type="text" asp-for="Name" class="form-control" placeholder="Kamera megnevezése" spellcheck="false" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="float-left">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="agreeToTerms" name="agreeToTerms" required>
                                        <label class="custom-control-label" for="agreeToTerms">
                                            Minden kötelező mezőt (<span class="text-danger font-weight-bold">*</span>) kitöltöttem, és a megadott adatok helyesek.
                                        </label>
                                    </div>
                                </div>
                                <div class="float-right">
                                    <a asp-action="Index" class="btn btn-secondary"><i class="icon fas fa-sign-out-alt mr-2"></i>Vissza</a>
                                    <input name="submitButton" type="submit" value="Kamera létrehozása" class="btn btn-success ml-1" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
