@model ISZR.Web.Models.Camera

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Intézeti kamera részletei";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Intézeti kamerához tartozó adatok megtekintése</h3>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>Kamera megnevezése</label>
                                <span asp-validation-for="Name" class="text-danger"></span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-video"></i></span>
                                    </div>
                                    <input type="text" asp-for="Name" class="form-control" placeholder="Kamera megnevezése" spellcheck="false" disabled="disabled">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>Szektor megnevezése</label>
                                <span asp-validation-for="Location" class="text-danger"></span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-map-marked"></i></span>
                                    </div>
                                    <input type="text" asp-for="Location" class="form-control" placeholder="Szektor megnevezése" spellcheck="true" disabled="disabled">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 float-right">
                            <span class="float-right">
                                <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-sign-out-alt"></i> Vissza</a>
                                <a asp-action="Edit" asp-route-id="@Model?.CameraId"><input type="button" value="Intézeti kamera szerkesztése" class="btn btn-info ml-1" /></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
